body {
    background-color: black;
}

.nav-light-top {
    background-color: rgb(237, 237, 237);
}

.image-size img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.head-card {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 45px;
}
.head-card h5 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-text {
    padding: 10px;
}
.card-text p {
    margin-bottom: 0;
}